<nav class="navbar py-3">
  <div class="container d-flex justify-content-between">
    <div class="left">
      <div class="logo">
        <span><i>P</i>-EVENTS</span>
      </div>
    </div>
    <div class="rigth d-flex">
      <div class="nav-item mx-2">
        <%= link_to "CREATE EVENT", new_event_path %>
      </div>

      <%- if current_user %>
      <div class="nav-item mx-2">
        <%= link_to "SIGN OUT", sign_out_path %>
      </div>
      <div class="nav-item">
        <div class="profile d-flex px-3 py-1">
          <span class="mr-2"><i class="icon-user"></i></span>
          <span><%= current_user['name']%></span>
        </div>
      </div>
      <% else %>
      <div class="nav-item mx-2">
        <%= link_to "SIGN IN", sign_in_path %>
      </div>
      <div class="nav-item mx-2">
        <%= link_to "SIGN UP", sign_up_path %>
      </div>
      <% end %>
    </div>
  </div>
</nav>